.App {
  text-align: center;
}

.App-title {
  font-family: cursive;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: 'Operator Mono', serif;
  font-size: calc(10px + 2vmin);
  justify-content: start;
  min-height: 100vh;
}

.App-link {
  color: #09d3ac;
}
