# Miscellaneous
.DS_store

# Directories
/node_modules
node_modules/
click-counter/node_modules/
jotto-app/node_modules/

# Logs
.byebug_history

# Project Files
*.code-workspace
*.sublime-project
*.sublime-workspace
